<div class="container my-form">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center mb-3">Login</h5>
      <!-- Form Start -->
      <form autocomplete="off" [formGroup]="userForm" (ngSubmit)="login()">
        <!-- username field start -->
        <div class="mb-3">
          <label for="username" class="form-label">Username<span>*</span></label>
          <input type="text" class="form-control" id="username" formControlName="username"
            (blur)="updateValidationMessages()">
        </div>
        <div *ngIf="formErrors['username'] && this.userForm.controls.username.touched">
          <div class="alert alert-danger" role="alert">
            {{formErrors['username']}}
          </div>
        </div>
        <!-- username field end -->
        <!-- password field start -->
        <label for="pasword" class="form-label">Password<span>*</span></label>
        <div class="input-group mb-3">
          <input type="{{showPassword?'text':'password'}}" class="form-control" id="password" formControlName="password"
            (blur)="updateValidationMessages()" aria-describedby="basic-addon2">
          <span class="input-group-text" (click)="togglePassword()"><i
              class="bi {{showPassword?'bi-eye-fill':'bi-eye-slash'}}"></i></span>
        </div>
        <div *ngIf="formErrors['password'] && this.userForm.controls.password.touched">
          <div class="alert alert-danger" role="alert">
            {{formErrors['password']}}
          </div>
        </div>
        <!-- Paswword filed end -->
        <div class="mb-2">
          <a href="" class="text-end">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-success btn-sm"
          [disabled]="userForm.invalid && userForm.touched">Login</button>
      </form>
      <!-- Form end -->
    </div>
  </div>
</div>