<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="mb-3">
        <div class="pt-4">
          <h5 class="mb-4">Cart <span>({{cartProducts?.length}})</span> item</h5>
          <div *ngFor="let cartProduct of cartProducts | paginate:paginationConfig; let index=index">
            <div class="row mb-4">
              <div class="col-md-5">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0 cart-product-image">
                  <img src="{{cartProduct.product.image}}" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="d-flex flex-column">
                  <div>
                    <h5>{{cartProduct.product.title}}</h5>
                    <p class="text-uppercase text-muted">{{cartProduct.product.category}}</p>
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="text-muted" #totalQty>Qty: {{cartProduct.qty}}</p>
                      </div>
                      <app-quantity (qtyEvent)="updateProduct($event, cartProduct, index)" [initialQtyValue]="cartProduct.qty"></app-quantity>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="text-muted">Size: {{cartProduct.size}}</p>
                      </div>
                      <div>
                        <app-size (sizeEvent)="updateProduct($event, cartProduct, index)" [initialSizeValue]="cartProduct.size" [index]="index"></app-size>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-danger btn-sm text-uppercase"
                      (click)="removeProduct(cartProduct.product.id)">
                      <i class="bi bi-trash"></i> remove item
                    </button>
                    <div style="margin-right:10px">
                      <p><strong>Price: {{cartProduct.price}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <div class="pt-4">
          <div class="mb-4">
            <h5>Total Amount</h5>
          </div>
          <div class="d-flex justify-content-between">
            <p>Total Price:</p>
            <p>{{totalPrice | currency}}</p>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button">Check out</button>
        </div>
      </div>
    </div>
  </div>
</div>