.product-image {
  display: flex;
  justify-content: center;
  img {
    width: 75%;
    height: 500px;
    padding: 10px;
    object-fit: contain;
    text-align: center;
  }
}

.product-meta-details {
  padding: 10px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .quantity-field{
    margin-right: 50px;
    button{
      border: none;
    }

    button:focus{
      outline: none;
      box-shadow: none;
    }
  }

  .quantity-field input{
    width: 20px;
    border:none;
    text-align: center;
  }


  input:focus{
    outline: none;
  }
}
