<div class="product-container">
  <div class="card">
    <img src="{{product.image}}"  alt="...">
    <div class="card-body">
      <div class="product-name">
        <h5 class="card-title">{{product.title}}</h5>
      </div>
      <div class="product-details">
        <div><i class="bi bi-currency-dollar"></i><span>{{product.price}}</span></div>
      </div>
      <div class="add-to-cart">
          <button class="btn btn-sm btn-info" (click)="myCartUpdate(product)"><i class="bi bi-cart3"></i> Add to cart</button>
          <button class="btn btn-sm btn-dark pull-right" (click)="navigate(product.id)">More</button>
      </div>
    </div>
  </div>
</div>