/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons';
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

* {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  background-color: #efefef !important;
}

.my-form {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card-body {
    margin: 35px 10px;
  }

  a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 12px;
  }

  button {
    display: inline-block;
    width: 100%;
  }

  .alert-danger{
    padding: 5px;
    font-size: 12px;
  }
  
}

